/* Make the hidden metaboxes a little more attractive */
#postbox-container-1 {
    display: none;
}

#poststuff #post-body.columns-2 {
    margin-right: 0;
}

#normal-sortables {
    display: none;
}